<div class="container">
  <div class="row mt-10">
    <div class="col-lg-8">
      <!-- First Post -->
      <!-- First Post -->
      <div class="card mb-4 mt-10">
        <img src="../assets/images/1.jpg" class="card-img-top" />
        <div class="info d-flex align-items-center">24 Feb</div>
        <div class="card-body">
          <span class="mr-3"><i class="fas fa-user"></i> Micheal Jia</span>
          <span class="mr-3"><i class="fas fa-comments"></i> 03</span>
          <span><i class="fas fa-clock"></i> 3 min read</span>
          <h5 class="card-title">
            Quick Cravings: Unraveling Fast Food Delights
          </h5>
          <p class="card-text">
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered...
          </p>
          <a href="#" class="text-success">Read More</a>
          <i class="fa-solid fa-angles-right"></i>
        </div>
      </div>

      <!-- Second Post -->
      <div class="card mb-4">
        <img src="../assets/images/2.jpg" class="card-img-top" />
        <div class="info d-flex align-items-center">24 Feb</div>
        <div class="card-body">
          <span class="mr-3"><i class="fas fa-user"></i> Micheal Jia</span>
          <span class="mr-3"><i class="fas fa-comments"></i> 03</span>
          <span><i class="fas fa-clock"></i> 3 min read</span>
          <h5 class="card-title">
            Quick Cravings: Unraveling Fast Food Delights
          </h5>
          <p class="card-text">
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered...
          </p>
          <a href="#" class="text-success">Read More</a>
          <i class="fa-solid fa-angles-right"></i>
        </div>
      </div>

      <!-- Third Post -->
      <div class="card mb-4">
        <img src="../assets/images/3.jpg" class="card-img-top" />
        <div class="info d-flex align-items-center">24 Feb</div>
        <div class="card-body">
          <span class="mr-3"><i class="fas fa-user"></i> Micheal Jia</span>
          <span class="mr-3"><i class="fas fa-comments"></i> 03</span>
          <span><i class="fas fa-clock"></i> 3 min read</span>
          <h5 class="card-title">
            Quick Cravings: Unraveling Fast Food Delights
          </h5>
          <p class="card-text">
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered...
          </p>
          <a href="#" class="text-success">Read More</a>
          <i class="fa-solid fa-angles-right"></i>
        </div>
      </div>

      <!-- Pagination -->
      <nav>
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link text-dark" href="#">Previous</a>
          </li>
          <li class="page-item">
            <a class="page-link text-dark" href="#">1</a>
          </li>
          <li class="page-item">
            <a
              class="page-link text-light"
              style="background-color: green"
              href="#"
              >2</a
            >
          </li>
          <li class="page-item">
            <a class="page-link text-dark" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link text-dark" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-lg-4">
      <!-- Search Bar -->
      <div class="mb-4">
        <div class="vertical-line">Search Here</div>
        <div class="card-body">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Search here..."
            />
            <div class="input-group-append">
              <button class="btn btn-success">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- News & Blogs -->
      <div class="mb-4">
        <div class="vertical-line">News & Blogs</div>
        <div class="card-body">
          <ul class="list-unstyled">
            <li class="d-flex align-items-center mb-3">
              <img
                src="../assets/images/3.jpg"
                class="me-3"
                style="width: 80px; height: 80px; object-fit: cover"
              />
              <div>
                <i class="fa-regular fa-calendar-days"></i>
                <small class="text-muted">Jan 23, 2023</small><br />
                <a href="#" class="text-dark"
                  >Budget Issues Force The Our To Become</a
                >
              </div>
            </li>
            <li class="d-flex align-items-center mb-3">
              <img
                src="../assets/images/2.jpg"
                class="me-3"
                style="width: 80px; height: 80px; object-fit: cover"
              />
              <div>
                <i class="fa-regular fa-calendar-days"></i>
                <small class="text-muted">Jan 23, 2023</small><br />
                <a href="#" class="text-dark"
                  >The Best Products That Shape Fashion</a
                >
              </div>
            </li>
            <li class="d-flex align-items-center">
              <img
                src="../assets/images/1.jpg"
                class="me-3"
                style="width: 80px; height: 80px; object-fit: cover"
              />
              <div>
                <i class="fa-regular fa-calendar-days"></i>
                <small class="text-muted">Jan 23, 2023</small><br />
                <a href="#" class="text-dark"
                  >The Best Products That Shape Fashion</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- Categories -->
      <div class="mb-4">
        <div class="vertical-line">Categories</div>

        <div class="menu">
          <div class="menu-item">
            <i class="fa-solid fa-burger"></i>
            <span>Burger</span>
            <button>+</button>
          </div>
          <div class="menu-item">
            <i class="fa-solid fa-drumstick-bite"></i>
            <span>Fried Chicken</span>
            <button>+</button>
          </div>
          <div class="menu-item">
            <i class="fa-solid fa-drumstick-bite"></i> <span>French Fries</span>
            <button>+</button>
          </div>
          <div class="menu-item">
            <i class="fa-solid fa-pizza-slice"></i> <span>Hot Pizza</span>
            <button>+</button>
          </div>
          <div class="menu-item">
            <i class="fa-solid fa-bread-slice"></i> <span>Sandwich</span>
            <button>+</button>
          </div>
          <div class="menu-item">
            <i class="fa-solid fa-bread-slice"></i> <span>Bread</span>
            <button>+</button>
          </div>
          <div class="menu-item">
            <i class="fa-solid fa-bowl-rice"></i> <span>Fried Rice</span>
            <button>+</button>
          </div>
          <div class="menu-item">
            <i class="fa-solid fa-hotdog"></i> <span>Hot Dog</span>
            <button>+</button>
          </div>
        </div>
      </div>
      <!-- Popular Tags -->
      <div class="mb-4">
        <div class="vertical-line">Popular Tags</div>
        <div class="card-body">
          <button type="button" class="btn btn-light m-1">Burger</button>
          <button type="button" class="btn btn-light m-1">Hot Dog</button>
          <button type="button" class="btn btn-light m-1">French Fry</button>
          <button type="button" class="btn btn-light m-1">Chicken</button>
          <button type="button" class="m-1 btn btn-light">Pasta</button>
          <button type="button" class="btn btn-light m-1">Sandwich</button>
          <button type="button" class="btn btn-light m-1">Landing</button>
          <button type="button" class="btn btn-light m-1">Fast Food</button>
        </div>
      </div>
    </div>
  </div>
</div>
